@font-face {
    src: url (.fonts/myriadpro/myriadpro-regular.ttf);
    font-family: Myriad Pro
}

@font-face {
    src: url (.fonts/avenirnext/AvenirNextCyr-Regular.ttf);
    font-family: Avenir Next;
}

@font-face {
    src: url (.fonts/proximanova/ProximaNova-Reg.otf);
    font-family: Proxima Nova;
    font-weight: 300;
}

@font-face {
    src: url (.fonts/proximanova/ProximaNova-Semibold.ttf);
    font-family: Proxima Nova;
    font-weight: 600
}

@keyframes MyRotation {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.menu {
    font-size: 13px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    width: 538px;
    list-style: none;
    margin: 60px 76px 0px 0;
    font-family: Myriad Pro;
}

.menu-link {
    padding: 0 0 0 40px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.background-image {
    background-image: url(./images/background.jpg);
    height: 890px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-transform: uppercase;
}

.logo {
    margin: 39px 0 0 51px;
}

.title {
    font-size: 40px;
    margin: 600px 0 0 114px;
    font-family: Avenir Next;
}

.subtitle {
    font-size: 15px;
    margin: 5px 0 0 277px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}

.main {
    background-color: #a2ca28;
    padding-top: 100px;
}

.benefits {
    list-style: none;
    display: flex;
    color: white;
    font-size: 14px;
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 111px;
    margin-top: 15px;
}

.benefits-item {
    width: 298px;
    padding-right: 65px;
}


.benefits-image {
    height: 60px
}

.benefit-title {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

.benefits-text {
    font-family: Proxima Nova;
    font-weight: 300;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.benefits-link {
    color: white;
    font-family: Proxima Nova;
    line-height: 26px;
    text-decoration: none;
}

.philosophy-block {
    display: flex;
    justify-content: center;
    width: 1180px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.philosophy-text {
    background-color: white;
    text-align: center;
    padding: 50px;
    z-index: 1;
    width: 400px;
}

.philosophy-text-1 {
    width: 298px;
}

.philosophy-text-2 {
    width: 290px;
}

.philosophy-paragraph {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #656e74;
}

.icon-drop {
    padding: 15px;
}

.philosophy-h3 {
    font-size: 14px;
    color: #fd634e;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    line-height: 26px;
}

.philosophy-h2 {
    font-size: 35px;
    color: #a2ca28;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 30px;
}

.philosophy-link {
    color: #a2ca28;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.image-hover {
    width: 794px;
    height: 394px;
    position: relative;
    overflow: hidden;
}


.image-hover:before {
    content: " ";
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    display: block;
    transition: all 1s;
}

.text-hover {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -47px;
    text-align: center;
    z-index: 2;
    opacity: 0;
    transition: all 1s;
}

.image-hover:hover .text-hover {
    opacity: 1;
}

.image-hover:hover:before {
    opacity: 1;
}

.footer-whole {
    background-color: #000;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 30px;
    margin: 0 auto;
    width: 1180px;
    position: relative;
}

.form {
    padding-left: 59px;
    padding-top: 8px;
}

.input {
    font-family: Proxima Nova;
    font-size: 14px;
    padding: 10px 10px 10px 20px;
    height: 25px;
    border: none;
    border-radius: 2px;
}

.input-your-name {
    width: 184px;
}

.input-your-email {
    width: 318px;
}

.button {
    font-family: Proxima Nova;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: #a2ca28;
    border: none;
    border-radius: 2px;
    width: 182px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.social-networks {
    display: flex;
    justify-content: space-between;
    width: 245px;
    position: absolute;
    right: 0;
}

.social-button {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    position: relative;
}

.social-button:hover {
    animation: MyRotation 0.3s;
}

.social-button:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    left: 50%;
}

.social-button-fb {
    background: #2e3192;
}

.social-button-fb:before {
    background: url(./images/fb.png);
    background-size: 11px 19px;
    width: 11px;
    height: 19px;
    margin: -9.5px -5.5px;
}

.social-button-tw {
    background: #00aeef;
}

.social-button-tw:before {
    background: url(./images/tw.png);
    background-size: 19px 16px;
    width: 19px;
    height: 16px;
    margin: -8px -9.5px;
}

.social-button-yt {
    background: #ed3123;
}

.social-button-yt:before {
    background: url(./images/yt.png);
    background-size: 21px 16px;
    width: 21px;
    height: 16px;
    margin: -8px -10.5px;
}

.social-button-li {
    background: #171a8f;
}

.social-button-li:before {
    background: url(./images/ln.png);
    background-size: 19px 19px;
    width: 19px;
    height: 19px;
    margin: -9.9px;
}